{{'component-sticky-cart.css' | asset_url | stylesheet_tag }}
<script type="text/javascript" src="{{'component-sticky-cart.js' | asset_url}}" async></script>
{% assign current_variant = product.selected_or_first_available_variant %}
<sticky-add-to-cart>
  <div class="header-container container--large sticky-add-to-cart" {{'now' | date: '%u'}}>
    <span class="stickyCart__item stickyCart__image" style="background-image: url('{{current_variant.image | default: product.featured_image | image_url: width: 60}}')">
    </span>
    <div class="stickCart__item stickyCart__meta">
      <p class="stickyCart__productTitle stickyCart__metaitem">{{product.title}}</p>
      <ul class="stickyCart__metacontent stickyCart__metaitem">
        {%- assign current_day = 'now' | date: '%u' -%}
        {%- if current_day == 6 or current_day == 7 -%}
          <li class="stickCart__metacontent__item">{%- render 'icon-checkmark' -%} Vandaag besteld, overmorgen in huis.</li>
        {%- else -%}
          <li class="stickCart__metacontent__item">{%- render 'icon-checkmark' -%} Voor 16:00 besteld, morgen in huis.</li>
        {%- endif -%}
        <li class="stickCart__metacontent__item">{%- render 'icon-checkmark' -%} Niet tevreden? <a href="https://jonky.nl/pages/voorwaarden-niet-tevreden-geld-terug-actie-jonky-nl">Geld-terug garantie</a></li>
        <li class="stickCart__metacontent__item">{%- render 'icon-checkmark' -%} Beste uit de test door gecertificeerd vinoloog</li>
      </ul>
      
    </div>
    <div class="stickyCart__item stickyCart__price">
      {%- render 'product-price', variant: current_variant, target: current_variant -%}
    </div>
    <div class="stickyCart__item stickyCart__qty-controller">
      {%- liquid 
          render 'product-quantity', variant: current_variant, id: section.id, is_sticky_cart: true
      -%}
    </div>
    <div class="stickyCart__item stickyCart__addToCart">
      <button class="add-to-cart button button--solid button--product button--loader {% unless current_variant.available %} disabled {% endunless %}" data-sticky-add-cart>
        <span class="button__icon" role="img" aria-hidden="true" style="margin-right: 10px; margin-bottom: 5px; vertical-align: middle;"> <!-- Voeg vertical-align: middle; toe om het icoon te centreren -->
          <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path class="circle" d="M9.5 20C9.77614 20 10 19.7761 10 19.5C10 19.2239 9.77614 19 9.5 19C9.22386 19 9 19.2239 9 19.5C9 19.7761 9.22386 20 9.5 20Z" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
            <path class="circle" d="M18.5 20C18.7761 20 19 19.7761 19 19.5C19 19.2239 18.7761 19 18.5 19C18.2239 19 18 19.2239 18 19.5C18 19.7761 18.2239 20 18.5 20Z" fill="white" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
            <path d="M3 3H6.27273L8.46545 13.7117C8.54027 14.08 8.7452 14.4109 9.04436 14.6464C9.34351 14.8818 9.71784 15.0069 10.1018 14.9997H18.0545C18.4385 15.0069 18.8129 14.8818 19.112 14.6464C19.4112 14.4109 19.6161 14.08 19.6909 13.7117L21 6.9999H7.09091" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" style="fill:none !important"></path>
          </svg>
        </span>
        <span class="button__text" data-js-product-add-to-cart-text {% if block.settings.show_preorder %} data-show-preorder-wording {% endif %}>
          {%- liquid
            if current_variant.available
              unless block.settings.show_preorder
                echo 'products.page.add_to_cart_button' | t
              else
                echo 'products.page.preorder_button' | t
              endunless
            else
              echo 'products.page.inventory.sold_out_variant' | t
            endif
          -%}
        </span>
        <span class="button__preloader">
          <svg class="button__preloader-element" viewBox="25 25 50 50"><circle cx="50" cy="50" r="20" fill="none" stroke-width="4"/></svg>
        </span>
      </button>
    </div>
  </div>
</sticky-add-to-cart>