{{ 'section-footer.css' | asset_url | stylesheet_tag }}

<div class="footer-bottom">
  <div class="container--large gutter-top--regular gutter-bottom--regular rte">

    <span>
      {{ 'general.copyright' | t }} &copy; {{ 'now' | date: "%Y" }} <a href="{{ routes.root_url }}">{{ shop.name | escape }}</a>.
      {%- if section.settings.show_social -%}
        <span class="powered-by-shopify">{{ powered_by_link }}</span>
      {%- endif -%}
    </span>

    {%- unless section.settings.show_social -%}
      <span class="powered-by-shopify">{{ powered_by_link }}</span>
    {%- else -%}
      {%- render 'social-icons' -%}
    {%- endunless -%}
    
  </div>
</div>

{% schema %}
	{
    "name": "t:sections.main-password-footer.name",
    "class": "main-footer",
    "settings": [
    	{
    		"type": "checkbox",
    		"id": "show_social",
    		"label": "t:sections.main-password-footer.settings.show_social.label",
    		"default": false
    	}
    ]
  }
{% endschema %}