<div class="container--large {% unless section.settings.remove_margin %} container--vertical-space {% endunless %} {% if section.settings.section_background_color != "rgba(0,0,0,0)" %} container--has-background {% endif %} remove-empty-space">
  
  {%- render 'section-heading', heading: section.settings.heading, subheading: section.settings.subheading, heading_tag: section.settings.seo_h_tag, layout: section.settings.section_heading_layout -%}

  <style>
    #shopify-section-{{ section.id }} .card__icon, 
    #shopify-section-{{ section.id }} .card__icon figure, 
    #shopify-section-{{ section.id }} .card__icon img {
      border-radius: {{ section.settings.border_radius }}px;
    }
  </style>

  {%- if section.settings.style == 'slider' -%}
    <css-slider data-options='{
        "selector": ".js-slider-item",
        "groupCells": true,
        "indexNav": true,
        "navigationDOM": "<span class=\"css-slider-button css-slider-prev\" style=\"display:none\"><svg fill=\"none\" height=\"13\" viewBox=\"0 0 8 13\" width=\"8\" xmlns=\"http://www.w3.org/2000/svg\"><g fill=\"#000\" ><path d=\"m7.91419 1.41431-6.48529 6.48528-1.4142102-1.41422 6.4852802-6.48527702z\"/><path d=\"m6.48528 12.9849-6.48528027-6.48532 1.41421027-1.41421 6.48528 6.48523z\"/></g></svg></span><span class=\"css-slider-button css-slider-next\" style=\"display:none\"><svg width=\"9\" height=\"13\" viewBox=\"0 0 9 13\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\"><path d=\"M0.914169 11.5857L7.39945 5.10041L8.81367 6.51463L2.32838 12.9999L0.914169 11.5857Z\" fill=\"black\"/><path d=\"M2.34307 0.0151367L8.82835 6.50042L7.41414 7.91463L0.928857 1.42935L2.34307 0.0151367Z\" fill=\"black\"/></svg></span>"
      }'
      class="css-slider css-slider--bottom-navigation"
    >
  {%- endif -%}

  <div class="grid {% if section.settings.style == 'slider' %} grid--slider {% else %} grid--layout {% endif %} {{ section.settings.layout }}">
  
    {%- for block in section.blocks -%}

      <div class="element--no-border text-align--center element--no-radius js-slider-item" {{ block.shopify_attributes }}>

        <div class="card__icon card__icon-size--{% if section.settings.layout == 'grid-3 grid-lap-2' %}large{% else %}regular{% endif %}" id="element-{{ block.id }}">
          {%- unless block.settings.image == blank -%}
            {%- if block.settings.link != blank -%}
              <a href="{{ block.settings.link }}">
            {%- endif -%}
              <figure class="lazy-image lazy-image--animation" data-ratio style="padding-top: 100%">
                <img 
                  src="{{ block.settings.image | image_url: width: 120, height: 120, crop: 'center' }}" alt="{{ block.settings.image.alt | escape }}"
                  srcset="
                    {{ block.settings.image | image_url: width: 120, height: 120, crop: 'center' }} 120w
                    {% if block.settings.image.width >= 240 %} ,{{ block.settings.image | image_url: width: 240, height: 240, crop: 'center' }} 240w, {% endif %} 
                    {% if block.settings.image.width >= 360 %} ,{{ block.settings.image | image_url: width: 360, height: 360, crop: 'center' }} 360w, {% endif %} 
                    {% if block.settings.image.width >= 480 %} ,{{ block.settings.image | image_url: width: 480, height: 480, crop: 'center' }} 480w, {% endif %} 
                    {% if block.settings.image.width >= 640 %} ,{{ block.settings.image | image_url: width: 640, height: 640, crop: 'center' }} 640w, {% endif %} 
                  "
                  loading="lazy"
                  sizes="{%- if section.settings.layout contains 'grid-4' -%}
                    (max-width: 474px) 120px, 160px
                  {%- else -%}
                    (max-width: 474px) 120px, (max-width: 1023px) 160px, 220px
                  {%- endif -%}"
                  width="120" height="120"
                  onload="this.parentNode.classList.add('lazyloaded')"
                />
              </figure>
            {%- if block.settings.link != blank -%}
              </a>
            {%- endif -%}
          {%- else -%}
            {%- render 'lazy-svg', image: 'image', class: 'svg-placeholder svg-placeholder--background svg-placeholder--foreground' -%}
          {%- endunless -%}
        </div>

        <div class="gutter--regular spacing--small remove-empty-space">

          {%- unless block.settings.title == blank -%}
            <div style="color:var(--color-text-main)">
              <{{ block.settings.seo_h_tag }} class="h5" style="margin-bottom:0;display:block">
                
                {%- if block.settings.link != blank -%}
                  <a href="{{ block.settings.link }}">
                {%- endif -%}
                
                  <span class="text-animation--underline">{{ block.settings.title | escape }}</span>
                
                {%- if block.settings.link != blank -%}
                  </a>
                {%- endif -%}

              </{{ block.settings.seo_h_tag }}>
            </div>
          {%- endunless -%}

          {%- unless block.settings.caption == blank -%}
            <div class="text-size--small text-color--opacity" style="color:var(--color-text-main)">{{ block.settings.caption | escape }}</div>
          {%- endunless -%}

        </div>
      </div>

    {%- endfor %}

  </div>

  {%- if section.settings.style == 'slider' -%}
    </css-slider>
  {%- endif -%}

</div>

{%- if section.settings.section_background_color != "rgba(0,0,0,0)" -%}
  {% style %}
    #shopify-section-{{ section.id }} .container--has-background {
      --color-background-section: {{ section.settings.section_background_color }};
    }
  {% endstyle %}
{%- endif -%}

{%- if section.settings.section_heading_color != "rgba(0,0,0,0)" -%}
  {% style %}
    #shopify-section-{{ section.id }} {
      --color-text-main: {{ section.settings.section_heading_color }};
    }
  {% endstyle %}
{%- endif -%}

{% schema %}
{
  "name": "t:sections.text-columns-with-images.name",
  "class": "mount-css-slider",
  "settings": [
    {
      "type": "header",
      "content": "t:local-march-update.labels.heading"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "t:sections.local-extra-words.sections.headings.heading",
      "default": "Text columns with image"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "t:sections.local-extra-words.sections.headings.subheading",
      "default": "Share your best offers"
    },
    {
      "type": "select",
      "id": "section_heading_layout",
      "label": "t:sections.rich-text.settings.text_alignment.label",
      "options": [
        {
          "value": "section-heading--left",
          "label": "t:sections.rich-text.settings.text_alignment.options__1.label"
        },
        {
          "value": "section-heading--center",
          "label": "t:sections.rich-text.settings.text_alignment.options__2.label"
        }
      ],
      "default": "section-heading--left"
    },
    {
      "type": "header",
      "content": "t:sections.main-article.blocks.content.name"
    },
    {
      "type": "select",
      "id": "style",
      "label": "t:sections.featured-collection.settings.layout.label",
      "options": [
        {
          "label": "t:sections.featured-collection.settings.layout.options__1.label",
          "value": "slider"
        },
        {
          "label": "t:sections.featured-collection.settings.layout.options__2.label",
          "value": "grid"
        }
      ],
      "default": "slider"
    },
    {
      "type": "select",
      "id": "layout",
      "label": "t:sections.local-extra-words.sections.columns.name",
      "info": "t:sections.local-extra-words.sections.columns.info",
      "options": [
        {
          "value": "grid-3 grid-lap-2",
          "label": "t:sections.local-extra-words.sections.columns.option__2"
        },
        {
          "value": "grid-4 grid-portable-3 grid-lap-2",
          "label": "t:sections.local-extra-words.sections.columns.option__3"
        }
      ],
      "default": "grid-4 grid-portable-3 grid-lap-2"
    },
    {
      "type": "range",
      "id": "border_radius",
      "label": "t:sections.split-extra-words.settings_schema.typography.settings.border_radius",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "default": 200
    },
    {
      "type": "header",
      "content": "t:local-march-update.labels.section_design"
    },
    {
      "type": "color",
      "id": "section_background_color",
      "label": "t:sections.local-extra-words.settings_schema.product-card.badges.custom_badges.color",
      "default": "rgba(0,0,0,0)"
    },
    {
      "type": "color",
      "id": "section_heading_color",
      "label": "t:sections.local-extra-words.settings_schema.product-card.badges.custom_badges.text_color",
      "default": "rgba(0,0,0,0)"
    },
    {
      "type": "checkbox",
      "id": "remove_margin",
      "label": "t:sections.local-extra-words.sections.rich-text.settings.remove_margin.label",
      "default": false
    },
    {
      "type": "header",
      "content": "t:sections.refactor_words.seo.name"
    },
    {
      "type": "select",
      "id": "seo_h_tag",
      "label": "t:sections.refactor_words.seo.label",
      "info": "t:sections.refactor_words.seo.info",
      "options": [
        {
          "value": "h1",
          "label": "H1"
        },
        {
          "value": "h2",
          "label": "H2"
        },
        {
          "value": "h3",
          "label": "H3"
        },
        {
          "value": "h4",
          "label": "H4"
        },
        {
          "value": "span",
          "label": "span"
        }
      ],
      "default": "h2"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "t:sections.text-columns-with-icons.blocks.icon.name",
      "settings": [
        {
          "id": "image",
          "type": "image_picker",
          "label": "t:sections.gallery.blocks.image.settings.image.label",
          "info": "t:sections.local-extra-words.sections.text-columns-with-images.blocks.image.info"
        },
        {
          "type": "header",
          "content": "t:sections.local-extra-words.sections.headings.text_content"
        },
        {
          "type": "text",
          "id": "title",
          "label": "t:sections.local-extra-words.sections.headings.title",
          "default": "Text with image"
        },
        {
          "type": "text",
          "id": "caption",
          "label": "t:sections.local-extra-words.sections.headings.caption",
          "default": "Introduce your brand"
        },
        {
          "type": "url",
          "id": "link",
          "label": "t:sections.image-with-text.blocks.image.settings.url.label"
        },
        {
          "type": "header",
          "content": "t:sections.refactor_words.seo.name"
        },
        {
          "type": "select",
          "id": "seo_h_tag",
          "label": "t:sections.refactor_words.seo.label",
          "info": "t:sections.refactor_words.seo.info",
          "options": [
            {
              "value": "h1",
              "label": "H1"
            },
            {
              "value": "h2",
              "label": "H2"
            },
            {
              "value": "h3",
              "label": "H3"
            },
            {
              "value": "h4",
              "label": "H4"
            },
            {
              "value": "span",
              "label": "span"
            }
          ],
          "default": "h3"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.text-columns-with-images.name",
      "blocks": [
        {
          "type": "image",
          "settings": {
            "title": "Shipping",
            "caption": "Useful information about your shipping details"
          }
        },
        {
          "type": "image",
          "settings": {
            "title": "Returns",
            "caption": "Show how much time customers have for testing your products"
          }
        },
        {
          "type": "image",
          "settings": {
            "title": "Pickup",
            "caption": "Let your customers know about local pickup"
          }
        },
        {
          "type": "image",
          "settings": {
            "title": "Brand",
            "caption": "Write your brand story and journey"
          }
        }
      ]
    }
  ],
  "disabled_on": {
    "groups": ["header"]
  }
}
{% endschema %}
